<app-search [cityLabel]="currentCity()"></app-search>

@if (weatherData()) {
    <div class="weather-content">
        <h1 class="temperature-time">Сейчас</h1>
        <h1 class="temperature">{{ Math.round(weatherData().current.temperature_2m) }}°C</h1>
        <div class="temp-range">
            <span class="max">Максимум {{ Math.round(weatherData().daily.temperature_2m_max[0]) }}° </span>
            <span class="min">Минимум {{ Math.round(weatherData().daily.temperature_2m_min[0]) }} °</span>
        </div>
        <div class="frog-container">
            <img [src]="froggyUrl()" alt="Froggy">
        </div>

    </div>
} @else {
    <div class="loading-state">
        <p>Получаем данные о погоде...</p>
    </div>
}

@if (weatherData()) {
    <div class="forecast-list">
        <h3>Прогноз на 10 дней</h3>

        @for (day of weatherData().daily.time; track day; let i = $index) {
            <div class="forecast-item">
                <span class="day-name">{{ formatDay(day) }}</span>

                <img [src]="'/icons/light/' + weatherData().daily.weather_code[i] + '.svg'">

                <div class="temp-range">
                    <span class="max">{{ Math.round(weatherData().daily.temperature_2m_max[i]) }}°</span>
                    <span class="min">{{ Math.round(weatherData().daily.temperature_2m_min[i]) }}°</span>
                </div>
            </div>
        }
    </div>
}

<router-outlet></router-outlet>
